# this file uses prebuilt image in dockerhub
services:
  jekyll:
    image: amirpourmand/al-folio:latest
    ports:
      - 8080:8080
    volumes:
      - .:/srv/jekyll
    entrypoint: ["/bin/bash", "/srv/jekyll/bin/entry_dev.sh"]
